/* General styling */

* {
    margin: 0;
    font-family: 'Fredoka', sans-serif;
}

body {
    background-color: #1A2B33;
    position: relative;
}

.blue {
    color: #31C3BD;
}

.yellow {
    color: #F2B137;
}

/* Player selector menu */

.player-selector-container {
    text-align: center;
    width: 700px;
    margin: 12rem auto;
}

.player-selector-container h1 {
    font-size: 45px;
}

.selection-div {
    background-color: #1E3640;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 1rem;
    margin: 2rem 0 3rem;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.5);
}

.selection-div h1 {
    color: #A9BEC8;
    font-weight: 500;
    font-size: 25px;
}

.selection-div p {
    color: #78868C;
}

.selection-buttons {
    display: flex;
    margin: 1rem 3rem;
    background-color: #1A2B33;
    padding: 0.5rem;
    border-radius: 1rem;
}

.selection-buttons button {
    border: none;
    font-size: 100px;
    font-weight: 700;
    width: 50%;
    border-radius: 1rem;
    height: 90px;
    line-height: 0;
    cursor: pointer;
}

.x-button {
    background-color: #A9BEC8;
    color:#1E3640;
    transition: 0.3s ease-in-out;
}

.o-button {
    background-color: transparent;
    color: #A9BEC8;
    transition: 0.3s ease-in-out;
}

.start-game-btn {
    background-color: #F2B137;
    color: #1A2B33;
    border: none;
    width: 50%;
    padding: 0.75rem 0;
    font-size: 20px;
    font-weight: 600;
    border-radius: 0.5rem;
    box-shadow: inset 0px -3px 0px 0px rgba(0,0,0,0.3);
    cursor: pointer;
}

.start-game-btn:hover {
    background-color: #ffbf48;
    transform:translateY(-5px);
    transition: 0.3s;
}

/* Game screen */

.game-screen {
    display: none;
}

/* Game screen header */

.header-elements {
    display: flex;
    justify-content: space-between;
    width: 1100px;
    margin: 3rem auto 6rem;
}

.header-elements h2 {
    color: #A9BEC8;
    background-color: #1E3640;
    line-height: 1.5;
    font-size: 27px;
    font-weight: 500;
    padding: 0.25rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
}

.header-elements h2 span {
    font-weight: 700;
    font-size: 30px;
}

.header-elements button {
    height: 50px;
    width: 50px;
    border: none;
    background-color: #A9BEC8;
    border-radius: 0.5rem;
    cursor: pointer;
    margin-left: 15px;
}

.header-elements button:hover {
    scale: 1.1;
    background-color: #bdd4df;
    transition: 0.3s;
}

.header-elements button svg {
    height: 50px;
    scale: 2;
    text-align: center;
    color: #1E3640;
}

/* Game grid */

.game-grid {
    width: 475px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(3, minmax(0, 1fr));
    gap: 30px;
    margin-bottom: 3rem;
}

.box {
    height: 130px;
    background-color: #1E3640;
    border: 2px solid #485153;
    border-radius: 0.4rem;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
    font-size: 180px;
    text-align: center;
    line-height: 0.5;
    font-weight: 500;
    color: #223c47;
    cursor: pointer;
}

.box:hover{
    transform: translateY(-5px);
    background-color: #223c47;
    transition: 0.3s;
}

/* Players Scores */

.player-scores {
    display: flex;
    justify-content: space-between;
    width: 700px;
    margin: auto;
    text-align: center;
    color: #1A2B33;
}

.player-scores p {
    font-size: 18px;
}

.player-scores h3 {
    font-size: 30px;
}

.player-x-score,
.player-o-score,
.ties-score {
    width: 27%;
    padding: 0.5rem 0;
    border-radius: 0.5rem;
}

.player-x-score {
    background-color: #31C3BD;
}

.player-o-score {
    background-color: #F2B137;
}

.ties-score {
    background-color: #A9BEC8;
}

/* game end screen */ 

.darken-screen {
    display: none;
    top: 0;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.411);
    z-index: 1;
}

.end-screen {
    display: none;
    position: fixed;
    z-index: 2;
    background-color: #1E3640;
    top: 32%;
    width: 100%;
    text-align: center;
}

.end-screen-container {
    padding: 1.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.end-screen-container p {
    margin-bottom: 1rem;
    font-size: 25px;
    color: #A9BEC8;
}

.winner {
    margin: 0 auto 1.75rem;;
    display: flex;
    align-items: center;
}

.winner h3 {
    font-size: 40px;
    font-weight: 500;
    color: #31C3BD;
}

.winner h4 {
    font-weight: 700;
    font-size: 60px;
    margin-right: 10px;
    color: #31C3BD;
}

.end-screen-buttons {
    width: 600px;
    margin: auto;
}

.next-round-button,
.quit-button {
    color: #1A2B33;
    border: none;
    padding: 0.75rem 4rem;
    margin: 0 1rem 1rem;
    font-size: 20px;
    font-weight: 600;
    border-radius: 0.5rem;
    box-shadow: inset 0px -3px 0px 0px rgba(0,0,0,0.3);
    cursor: pointer;
}

.next-round-button {
    background-color: #F2B137;
}

.quit-button {
    background-color: #A9BEC8;
}

.next-round-button:hover {
    background-color: #ffbf48;
    transform:translateY(-5px);
    transition: 0.3s;
}

.quit-button:hover {
    background-color: #c4dce7;
    transform:translateY(-5px);
    transition: 0.3s;
}

/* git link */

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 10px;
  }

  footer a {
    padding: 15px 15px;
    color: #78868C;
    text-decoration: none;
  }

/* media queries */ 

@media (max-width: 1200px) {
    .header-elements {
        width: 90%;
        margin: 3rem auto 3rem;
    }
}

@media (max-width: 800px) {
    .player-scores {
        width: 90%;
    }

    .end-screen-buttons {
        display: flex;
        flex-direction: column;
        width: 95%;
    }
}

@media (max-width: 530px) {
    .header-elements {
        margin: 1rem auto 2rem;
    }


    .game-grid {
        width: 330px;
    }

    .box {
        height: 90px;
        font-size: 120px;
        line-height: 0.5;
    }

    footer {
        display: none;
    }
}

@media (max-width: 370px) {

    .header-elements h1 {
        font-size: 30px;
    }

    .header-elements h2 span {
        font-size: 20px;
    }

    .header-elements h2 {
        font-size: 20px;
    }

    .game-grid {
        width: 250px;
    }

    .box {
        height: 60px;
        font-size: 80px;
        line-height: 0.5;
    }

    .player-scores p {
        font-size: 12px;
    }

    .end-screen-container p,
    .end-screen-container h4,
    .end-screen-container h3 {
        font-size: 20px;
    }

    .next-round-button,
    .quit-button {
        padding: 10px 10px;
        font-size: 20px;
    }
}

